<html>
<head>
<style>
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}
</style>
</head>
<body>
Hello world first ever!
<h1>This should be highlighted</h1>
<table>
<tr>
<td>name</td>
<td>surname</td>
<td>indore</td>
<tr>
<a href="http://localhost:3000/table">To Go to Table Page</a>
</table>
</body>
</html>